<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin>
	<extension point="org.eclipse.emf.refactor.smells">
		<modelsmell id="org.eclipse.emf.refactor.modelsmell.wideHieararchy" modelsmell_description="Wide Hierarchy" modelsmell_finderclass="org.eclipse.emf.refactor.modelsmell.WideHierarchy" modelsmell_metamodel="http://www.eclipse.org/emf/2002/Ecore" modelsmell_name="WideHierarchy"/>
		<modelsmell id="org.eclipse.emf.refactor.modelsmell.deepHierarchy" modelsmell_description="Deep Hierarchy" modelsmell_finderclass="org.eclipse.emf.refactor.modelsmell.DeepHierarchy" modelsmell_metamodel="http://www.eclipse.org/emf/2002/Ecore" modelsmell_name="DeepHierarchy"/>
	<modelsmell id="org.eclipse.emf.refactor.modelsmell.missingAbstraction_DataClumpsAttributes" modelsmell_description="Missing Abstraction based on Data Clumps with Attributes" modelsmell_finderclass="org.eclipse.emf.refactor.modelsmell.MissingAbstraction_DataClumpsAttributes" modelsmell_metamodel="http://www.eclipse.org/emf/2002/Ecore" modelsmell_name="MissingAbstraction_DataClumpsAttributes"/>
<modelsmell id="org.eclipse.emf.refactor.modelsmell.missingAbstraction_PrimitiveObessionPrimitiveTypes" modelsmell_description="Missing Abstraction based on Primitive Obession with primitive types" modelsmell_finderclass="org.eclipse.emf.refactor.modelsmell.MissingAbstraction_PrimitiveObessionPrimitiveTypes" modelsmell_metamodel="http://www.eclipse.org/emf/2002/Ecore" modelsmell_name="MissingAbstraction_PrimitiveObessionPrimitiveTypes"/>
<modelsmell id="org.eclipse.emf.refactor.modelsmell.redundantContainerRelation" modelsmell_description="Explicit container reference is modeled but is unnecessary" modelsmell_finderclass="org.eclipse.emf.refactor.modelsmell.RedundantContainerRelation" modelsmell_metamodel="http://www.eclipse.org/emf/2002/Ecore" modelsmell_name="RedundantContainerRelation"/>
<modelsmell id="org.eclipse.emf.refactor.modelsmell.obligatoryContainerRelation" modelsmell_description="A containment relation has an opposite reference thas has a lower bound of 1." modelsmell_finderclass="org.eclipse.emf.refactor.modelsmell.ObligatoryContainerRelation" modelsmell_metamodel="http://www.eclipse.org/emf/2002/Ecore" modelsmell_name="ObligatoryContainerRelation"/>
<modelsmell id="org.eclipse.emf.refactor.modelsmell.specializationAggregation" modelsmell_description="The association is a specialization of another association." modelsmell_finderclass="org.eclipse.emf.refactor.modelsmell.SpecializationAggregation" modelsmell_metamodel="http://www.eclipse.org/emf/2002/Ecore" modelsmell_name="Specialization Aggregation"/>
<modelsmell id="org.eclipse.emf.refactor.modelsmell.multipathHierarchy" modelsmell_description="A subtype inherits in two or more ways from the same supertype." modelsmell_finderclass="org.eclipse.emf.refactor.modelsmell.MultipathHierarchy" modelsmell_metamodel="http://www.eclipse.org/emf/2002/Ecore" modelsmell_name="MultipathHierarchy"/>
<modelsmell id="org.eclipse.emf.refactor.modelsmell.cyclicHierarchy" modelsmell_description="Cycle in hierarchy" modelsmell_finderclass="org.eclipse.emf.refactor.modelsmell.CyclicHierarchy" modelsmell_metamodel="http://www.eclipse.org/emf/2002/Ecore" modelsmell_name="CyclicHierarchy"/>
</extension>
</plugin>
